<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyStoreDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftyStoreKit-iOS-Demo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SwiftyStoreKit-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftyStoreKit-macOS-Demo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SwiftyStoreKit-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftyStoreKit-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftyStoreKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftyStoreKitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54C0D52B1CF7404500F90BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6502F5FD1B985833004E342D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6502F62C1B985C40004E342D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>658A083D1E2EC5120074A98F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D74BBA1C24CEC90071AD3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4FD3A001C2954C10035CFF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
